In [2]:
%pip install xlrd openpyxl

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: openpyxl in c:\users\aikyl\appdata\local\programs\python\python39\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\aikyl\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (2.0.0)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

file_path = 'institusi-korporasi-finansial-----neraca-institusi-terintegrasi--triliun-rupiah-.xls'

df = pd.read_excel(file_path)
df.head()

,"Korporasi Finansial - Neraca Institusi Terintegrasi (Triliun Rupiah), 2016-2024",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kode,Klasifikasi,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Triwulan I,NaN,Triwulan II,NaN,Triwulan III,NaN,Triwulan IV,...,Triwulan I,NaN,Triwulan II,NaN,Triwulan III,NaN,Triwulan IV,NaN,Tahunan,NaN
3,NaN,NaN,NaN,Penggunaan,Sumber,Penggunaan,Sumber,Penggunaan,Sumber,Penggunaan,...,Penggunaan,Sumber,Penggunaan,Sumber,Penggunaan,Sumber,Penggunaan,Sumber,Penggunaan,Sumber
4,NaN,Neraca produksi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN